<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
<div class="header">
    <h1>
        <a><img th:src="@{/image/img_garena_logo.png}" style="height: 35px;"></a>
    </h1>
</div>
<div class="content">
    <h2 class="title" style="margin-bottom: 20px">Sửa thông tin tài khoản</h2>
    <form class="signupForm" th:action="@{/edit}" method="post">
        <h3 class="title" style="margin-top: 20px" th:text="${username}"></h3>
        <input th:value="${username}" name="username" type="hidden">
        <div class="line">
            <label>Mật khẩu</label>
            <input th:value="${password}" name="password" type="text" title="Mật khẩu">
        </div>
        <div class="line">
            <label>Email</label>
            <input th:value="${email}" name="email" type="text" title="Email">
        </div>
        <div class="line btnLine">
            <button type="submit" class="btn">Hoàn thành</button>
        </div>
    </form>
</div>
</body>
</html>