<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="stylesheet" th:href="@{css/store.css}">
</head>
<body>
<div class="container">
    <div class="logo">
        <img th:src="@{image/logo-new.png}">
    </div>
    <div class="title">Danh sách tài khoản</div>
    <div class="search">
        <form th:action="@{/search}" method="get">
            <div class="form-group">
                <input class="input_search" type="text" name="searchUsername" placeholder="Nhập tài khoản của bạn để tìm kiếm...">
                <input class="button_search" value="Tìm" type="submit">
            </div>
        </form>
    </div>
    <div class="my-4">
        <table class="table">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tên Tài Khoản</th>
                <th>Mật khẩu</th>
                <th>Email</th>
                <th>Ngày tạo</th>
                <th>Ngày sửa</th>
                <th colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, cnt: ${list}">
                <td th:text="*{cnt.index + 1}"></td>
                <td th:text="*{item.getUsername()}"></td>
                <td th:text="*{item.getPassword()}"></td>
                <td th:text="*{item.getEmail()}"></td>
                <td th:text="*{item.getCreatedAt()}"></td>
                <td th:text="*{item.getUpdatedAt()}"></td>
                <td>
                    <a th:href="@{'/delete/' + ${item.getUsername()}}">Delete</a>
                </td>
                <td>
                    <a th:href="@{'/edit/' + ${item.getUsername()}}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
        <form th:action="@{/api/accounts}" method="get">
            <button type="submit" class="seeAPI">Xem dữ liệu tài khoản</button>
        </form>
        <form th:action="@{/login}" method="get">
            <button type="submit" class="logout">Đăng xuất</button>
        </form>
    </div>
    <footer class="mt-5">
        <p><img th:src="@{image/logo-footer.png}"></p>
    </footer>
</div>
</body>
</html>