<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{index.css}">
</head>
<body>
    <div class="container">
        <form th:action="@{/home}" method="post">
            <h1>Trang đăng nhập</h1>

            <input type="text" name="username" placeholder="Tài khoản">

            <input type="password" name="password" placeholder="Mật khẩu">

            <h2 style="color: red" th:text="${wrong}"></h2>

            <button type="submit">Đăng nhập</button>
        </form>
    </div>
</body>
</html>