
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #150e1d;

}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.search {
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group input {
    margin-right: 10px;
}

.input_search {
    width: 400px;
}

input {
    color: #fff;
    background: none;
    padding: 0.5em 0.75em;
    border: 1px solid #7a6c54;
}

.logo {
    margin: 1em 0 0.5em;
    text-align: center;
}

.title {
    font-size: 150%;
    color: white;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;

}

.my-4 {
    margin-left: 10%;
    margin-right: 10%;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

table th {
    color: #fdfcbd;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 2px #f6c778;
    border: 1px solid rgba(255,255,255,.66);
}
table td {
    color: #fff;
    text-align: center;
    border: 1px solid rgba(255,255,255,.66);
}

form {
    display: inline-block;
}

button {
    height: 36px;
    border: none;
    border-radius: 10px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
}

button:hover {
    opacity: .7;
}

.seeAPI {
    background-color: #e8171f;
}

.logout {
    background-color: #586dbe;
}

footer {
    margin-top: 10%;
    text-align: center;
}
